<template>
  <div class="submit-form mt-3 mx-auto">

  <div v-if="!submitted">
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Add New Article</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Title*" 
                v-model="article.title" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Category*" 
                v-model="article.category" 
                required>
              </v-text-field>
            </v-col>
            
            <v-col
              cols="12"
              md="12"
            >
              <v-textarea
                outlined
                label="Description*" 
                v-model="article.description" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-file-input
                label="Picture*" 
                v-model="article.picture"
                @change="handleFileUpload" 
                required>
              </v-file-input>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Source*" 
                v-model="article.source" 
                required>
              </v-text-field>
            </v-col>

          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
          <v-btn
            color="primary" medium
            class="mr-3"
            @click="saveArticle"
          >
            Submit
          </v-btn>
      </v-card-actions>

    </v-form>
  </div>

  <div v-else>
    <v-card-title class="justify-center">
      <span class="headline">You submitted successfully!</span>
    </v-card-title>

    <v-card-subtitle class="justify-center">
      Click the button to add new article.
    </v-card-subtitle>

    <v-card-actions class="justify-center">
        <v-btn
          color="success" medium
          class="mr-3"
          @click="newArticle"
        >
          Add
        </v-btn>
    </v-card-actions>
  </div>

  </div>
</template>

<script>
import ArticleDataService from "../services/ArticleDataService";

export default {
  name: "add-article",
  data() {
    return {
      article: {
        id: null,
        title: "",
        category: "",
        description: "",
        picture: "",
        source: "",
        adminId: 1
      },
      submitted: false
    };
  },
  created () {

  },
  methods: {
    
    handleFileUpload() {
        this.article.picture = this.article.picture.files[0];
    },

    saveArticle() {
      let formData = new FormData();
      formData.append('title', this.article.title);
      formData.append('category', this.article.category);
      formData.append('description', this.article.description);
      formData.append('picture', this.article.picture);
      formData.append('source', this.article.source);
      formData.append('adminId', this.article.adminId);

      ArticleDataService.create(formData)
        .then(response => {
          this.article.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newArticle() {
      this.submitted = false;
      this.article = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 1000px;
}
</style>