<template>
  <div class="submit-form mt-3 mx-auto">

  <div v-if="!submitted">
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Add New Category</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Name*" 
                v-model="category.name" 
                required>
              </v-text-field>
            </v-col>
            
            <v-col
              cols="12"
              md="6"
            >
              <v-select
                :items="articles"
                item-text="title"
                item-value="id"
                label="Article*"
                v-model="category.article_id" 
                required>
              </v-select>
            </v-col>

          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
          <v-btn
            color="primary" medium
            class="mr-3"
            @click="saveCategory"
          >
            Submit
          </v-btn>
      </v-card-actions>

    </v-form>
  </div>

  <div v-else>
    <v-card-title class="justify-center">
      <span class="headline">You submitted successfully!</span>
    </v-card-title>

    <v-card-subtitle class="justify-center">
      Click the button to add new category.
    </v-card-subtitle>

    <v-card-actions class="justify-center">
        <v-btn
          color="success" medium
          class="mr-3"
          @click="newCategory"
        >
          Add
        </v-btn>
    </v-card-actions>
  </div>

  </div>
</template>

<script>
import CategoryDataService from "../services/CategoryDataService";

export default {
  name: "add-article",
  data() {
    return {
      articles: '',
      category: {
        id: null,
        name: "",
        article_id: ""
      },
      submitted: false
    };
  },
  created () {
    this.getArticles();
  },
  methods: {
    
    // Get Article
    getArticles() {
        CategoryDataService.getArticles()
        .then(response => {
            this.articles = response.data.data;
        })
        .catch(err => {
          console.log(err);
        });
    },

    handleFileUpload() {
        this.article.picture = this.article.picture.files[0];
    },

    saveCategory() {
      CategoryDataService.create(this.category)
        .then(response => {
          this.category.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newCategory() {
      this.submitted = false;
      this.category = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 1000px;
}
</style>