<template>
  <div class="submit-form mt-3 mx-auto">

  <div v-if="!submitted">
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Add New Plant</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="4"
            >
              <v-text-field 
                label="Plant Name*" 
                v-model="plant.plant_name" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field 
                label="Total Days*" 
                v-model="plant.total_days" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-file-input
                label="Picture*" 
                v-model="plant.picture"
                @change="handleFileUpload" 
                required>
              </v-file-input>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-textarea
                outlined
                label="Harvesting*" 
                v-model="plant.harvesting" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-textarea
                outlined
                label="Growing*" 
                v-model="plant.growing" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-textarea
                outlined
                label="Summary*" 
                v-model="plant.summary" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-select
                :items="categories"
                item-text="name"
                item-value="id"
                label="Category*"
                v-model="plant.category_id" 
                required>
              </v-select>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-select
                :items="types"
                item-text="name"
                item-value="id"
                label="Type*"
                v-model="plant.type_id" 
                required>
              </v-select>
            </v-col>

            <span class="headline">Statistics Plant</span>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Days Low*" 
                v-model="statistics.germ_days_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Days Up*" 
                v-model="statistics.germ_days_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Temperature Low*" 
                v-model="statistics.germ_temperature_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Temperature Up*" 
                v-model="statistics.germ_temperature_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Growth Days Low*" 
                v-model="statistics.growth_days_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Growth Days Up*" 
                v-model="statistics.growth_days_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Height Low*" 
                v-model="statistics.height_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Height Up*" 
                v-model="statistics.height_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="pH Low*" 
                v-model="statistics.ph_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="pH Up*" 
                v-model="statistics.ph_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Spacing Low*" 
                v-model="statistics.spacing_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Spacing Up*" 
                v-model="statistics.spacing_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Temperature Low*" 
                v-model="statistics.temperature_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Temperature Up*" 
                v-model="statistics.temperature_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Width Low*" 
                v-model="statistics.width_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Width Up*" 
                v-model="statistics.width_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <span class="headline">Default Checklist</span>

            <div
             v-for="(check, i) in checklists"
             :key="i"
             class="text-fields-row"
            >
              <v-text-field
               label="Title*"
               v-model="check.title"
              ></v-text-field>

              <v-text-field
               label="Description*"
               v-model="check.description"
              ></v-text-field>

              <v-text-field
               label="Time (ex: 05:00:00)"
               v-model="check.time"
              ></v-text-field>

              <v-btn @click="remove(i)" class="error">delete</v-btn>
            </div>

            <v-btn 
              @click="addChecklist" 
              color="primary"
              class="mr-3"
            >add</v-btn>

          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
          <v-btn
            color="primary" medium
            class="mr-3"
            @click="saveplant"
          >
            Submit
          </v-btn>
      </v-card-actions>

    </v-form>
  </div>

  <div v-else>
    <v-card-title class="justify-center">
      <span class="headline">You submitted successfully!</span>
    </v-card-title>

    <v-card-subtitle class="justify-center">
      Click the button to add new Plant.
    </v-card-subtitle>

    <v-card-actions class="justify-center">
        <v-btn
          color="success" medium
          class="mr-3"
          @click="newplant"
        >
          Add
        </v-btn>
    </v-card-actions>
  </div>

  </div>
</template>

<script>
import PlantDataService from "../services/PlantDataService";
import qs from "qs";

export default {
  name: "add-plant",
  data() {
    return {
      checklists: [],
      categories: '',
      types: '',
      plant: {
        id: null,
        plant_name: "",
        type_id: "",
        category_id: "",
        summary: "",
        growing: "",
        harvesting: "",
        picture: "",
        total_days: ""
      },
      statistics: {
        germ_days_low: "",
        germ_temperature_low: "",
        growth_days_low: "",
        height_low: "",
        ph_low: "",
        spacing_low: "",
        temperature_low: "",
        width_low: "",
        
        germ_days_up: "",
        germ_temperature_up: "",
        growth_days_up: "",
        height_up: "",
        ph_up: "",
        spacing_up: "",
        temperature_up: "",
        width_up: "",
      },
      submitted: false
    };
  },
  created () {
    this.getCategories();
    this.getTypes();
  },
  methods: {

    addChecklist () {
      this.checklists.push({ 
        title: "",
        description: "",
        time: "",
      })
    },
    
    remove (index) {
      this.checklists.splice(index, 1)
    },
    
    // Get Category
    getCategories() {
        PlantDataService.getCategories()
        .then(response => {
            this.categories = response.data.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    
    // Get Category
    getTypes() {
        PlantDataService.getTypes()
        .then(response => {
            this.types = response.data.data;
        })
        .catch(err => {
          console.log(err);
        });
    },

    handleFileUpload() {
        this.plant.picture = this.plant.picture.files[0];
    },

    saveplant() {
      let formData = new FormData();
      formData.append('plant_name', this.plant.plant_name);
      formData.append('type_id', this.plant.type_id);
      formData.append('category_id', this.plant.category_id);
      formData.append('summary', this.plant.summary);
      formData.append('growing', this.plant.growing);
      formData.append('harvesting', this.plant.harvesting);
      formData.append('picture', this.plant.picture);
      formData.append('total_days', this.plant.total_days);

      formData.append('germ_days_low', this.statistics.germ_days_low);
      formData.append('germ_temperature_low', this.statistics.germ_temperature_low);
      formData.append('growth_days_low', this.statistics.growth_days_low);
      formData.append('height_low', this.statistics.height_low);
      formData.append('ph_low', this.statistics.ph_low);
      formData.append('spacing_low', this.statistics.spacing_low);
      formData.append('temperature_low', this.statistics.temperature_low);
      formData.append('width_low', this.statistics.width_low);
      
      formData.append('germ_days_up', this.statistics.germ_days_up);
      formData.append('germ_temperature_up', this.statistics.germ_temperature_up);
      formData.append('growth_days_up', this.statistics.growth_days_up);
      formData.append('height_up', this.statistics.height_up);
      formData.append('ph_up', this.statistics.ph_up);
      formData.append('spacing_up', this.statistics.spacing_up);
      formData.append('temperature_up', this.statistics.temperature_up);
      formData.append('width_up', this.statistics.width_up);

      formData.append('checklists', qs.stringify(this.checklists));

      PlantDataService.create(formData)
        .then(response => {
          this.plant.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newplant() {
      this.submitted = false;
      this.plant = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 1000px;
}
.text-fields-row {
  display: flex;
}
</style>