<template>
  <div class="submit-form mt-3 mx-auto">

  <div v-if="!submitted">
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Add New Type</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="12"
            >
              <v-text-field 
                label="Name*" 
                v-model="type.name" 
                required>
              </v-text-field>
            </v-col>
            
          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
          <v-btn
            color="primary" medium
            class="mr-3"
            @click="saveType"
          >
            Submit
          </v-btn>
      </v-card-actions>

    </v-form>
  </div>

  <div v-else>
    <v-card-title class="justify-center">
      <span class="headline">You submitted successfully!</span>
    </v-card-title>

    <v-card-subtitle class="justify-center">
      Click the button to add new type.
    </v-card-subtitle>

    <v-card-actions class="justify-center">
        <v-btn
          color="success" medium
          class="mr-3"
          @click="newType"
        >
          Add
        </v-btn>
    </v-card-actions>
  </div>

  </div>
</template>

<script>
import TypeDataService from "../services/TypeDataService";

export default {
  name: "add-type",
  data() {
    return {
      type: {
        id: null,
        name: ""
      },
      submitted: false
    };
  },
  created () {

  },
  methods: {
    
    saveType() {
      TypeDataService.create(this.type)
        .then(response => {
          this.type.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newType() {
      this.submitted = false;
      this.category = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 1000px;
}
</style>