<template>
  <div v-if="currentArticle" class="edit-form">
    
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Edit Article</span>
      </v-card-title>
      
      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Title*" 
                v-model="currentArticle.title" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Category*" 
                v-model="currentArticle.category" 
                required>
              </v-text-field>
            </v-col>
            
            <v-col
              cols="12"
              md="12"
            >
              <v-textarea
                outlined
                label="Description*" 
                v-model="currentArticle.description" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-file-input
                label="Picture*" 
                v-model="currentArticle.picture"
                @change="handleFileUpload" 
                required>
              </v-file-input>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Source*" 
                v-model="currentArticle.source" 
                required>
              </v-text-field>
            </v-col>

          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
        <v-btn color="error" medium class="mr-2" @click="deleteTutorial">
          Delete
        </v-btn>
    
        <v-btn color="success" medium @click="updateArticle">
          Update
        </v-btn>
      </v-card-actions>

    </v-form>

    <p class="mt-3">{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Loading ...</p>
  </div>
</template>

<script>
import ArticleDataService from "../services/ArticleDataService";

export default {
  name: "article",
  data() {
    return {
      currentArticle: null,
      message: ''
    };
  },
  methods: {
    
    handleFileUpload() {
      this.currentArticle.picture = this.currentArticle.picture.files[0];
    },

    getArticle(id) {
      ArticleDataService.get(id)
        .then(response => {
          this.currentArticle  = response.data.data;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updatePublished(status) {
      var data = {
        id: this.currentPlant.id,
        title: this.currentPlant.title,
        description: this.currentPlant.description,
        published: status
      };

      ArticleDataService.update(this.currentPlant.id, data)
        .then(response => {
          this.currentPlant.published = status;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateArticle() {
      let formData = new FormData();
      formData.append('title', this.currentArticle.title);
      formData.append('category', this.currentArticle.category);
      formData.append('description', this.currentArticle.description);
      formData.append('picture', this.currentArticle.picture);
      formData.append('source', this.currentArticle.source);
      formData.append('adminId', 1);

      ArticleDataService.update(this.currentArticle.id, formData)
        .then(response => {
          console.log(response.data);
          this.message = 'The article was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteTutorial() {
      ArticleDataService.delete(this.currentPlant.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "tutorials" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getArticle(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 1000px;
  margin: auto;
}
</style>