<template>
  <v-row no-gutters class="list px-3 mx-auto">
    <!-- <v-row>
      <v-col cols="12" md="10">
        <v-text-field v-model="title" label="Search by Title"></v-text-field>
      </v-col>

      <v-col cols="12" md="2">
        <v-btn large @click="searchTitle">
          Search
        </v-btn>
      </v-col>
    </v-row> -->
    
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>
          Articles List
          <v-spacer></v-spacer>
          <v-btn
            class="mr-4"
            to="/articles/add"
          >
            + Create New
          </v-btn>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="articles"
          :hide-default-footer="true"
          disable-pagination
          :loading="loading"
          loading-text="Loading... Please wait"
        >
          <template v-slot:item.index="{ item }">
           {{ articles.indexOf(item) + 1}}
          </template>

          <template v-slot:item.picture="{ item }">
            <div class="p-2">
              <v-img :src="item.picture" :alt="item.title" width="200"></v-img>
            </div>
          </template>

          <template v-slot:item.source="{ item }">
              <a :href="item.source" target="_blank">
                {{ item.source }}
              </a>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="editArticle(item.id)">mdi-pencil</v-icon>
            <v-icon small @click="deleteArticle(item.id)">mdi-delete</v-icon>
          </template>
        </v-data-table>

        <!-- <v-card-actions v-if="plants.length > 0">
          <v-pagination
            v-model="currentPage"
            :length="totalPages"
            @input="handlePageChange"
          ></v-pagination>
        </v-card-actions> -->
      </v-card>
    </v-col>
    
  </v-row>
</template>

<script>
import ArticleDataService from "../services/ArticleDataService";

export default {
  name: "articles-list",
  data() {
    return {
      articles: [],
      loading: true,
      title: "",

      totalItems: 0,
      totalPages: 0,
      currentPage: 1,

      headers: [
        { text: "#", value: "index", sortable: false },
        { text: "Title", align: "start", sortable: false, value: "title"},
        { text: "Category", sortable: false, value: "category"},
        { text: "Picture", sortable: false, value: "picture"},
        { text: "Source", sortable: false, value: "source"},
        { text: "Author", sortable: false, value: "author.username"},
        { text: "Actions", value: "actions", sortable: false },
      ],
    };
  },
  methods: {
    retrieveArticles() {
      ArticleDataService.getAll()
        .then(response => {
          this.articles = response.data.data;
          this.totalItems = response.data.total;
          this.totalPages = Math.ceil(this.totalItems / 10);
          this.loading = false;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveArticles();
    },

    // searchPlantName() {
    //   // TO DO
    // },

    editArticle(id) {
      this.$router.push({ name: "articles-details", params: { id: id } });
    },

    deleteArticle(id) {
      ArticleDataService.delete(id)
      .then(() => {
        this.refreshList();
      })
      .catch((e) => {
        console.log(e);
      });
    },

    // getDisplayTutorial(){
    //   // TO DO (plants)
    // },

    handlePageChange(value) {
      this.currentPage = value;
    }
  },
  mounted() {
    this.retrieveArticles();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}
</style>