<template>
  <div v-if="currentCategory" class="edit-form">
    
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Edit Category</span>
      </v-card-title>
      
      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Name*" 
                v-model="currentCategory.name" 
                required>
              </v-text-field>
            </v-col>
            
            <v-col
              cols="12"
              md="6"
            >
              <v-select
                :items="articles"
                item-text="title"
                item-value="id"
                label="Article*"
                v-model="currentCategory.article_id" 
                required>
              </v-select>
            </v-col>

          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
        <v-btn color="error" medium class="mr-2" @click="deleteCategory">
          Delete
        </v-btn>
    
        <v-btn color="success" medium @click="updateCategory">
          Update
        </v-btn>
      </v-card-actions>

    </v-form>

    <p class="mt-3">{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Loading ...</p>
  </div>
</template>

<script>
import CategoryDataService from "../services/CategoryDataService";

export default {
  name: "category",
  data() {
    return {
      articles: '',
      currentCategory: null,
      message: ''
    };
  },
  methods: {

    // Get Article
    getArticles() {
        CategoryDataService.getArticles()
        .then(response => {
            this.articles = response.data.data;
        })
        .catch(err => {
          console.log(err);
        });
    },

    getCategory(id) {
      CategoryDataService.get(id)
        .then(response => {
          this.currentCategory  = response.data.data;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updatePublished(status) {
      var data = {
        id: this.currentPlant.id,
        title: this.currentPlant.title,
        description: this.currentPlant.description,
        published: status
      };

      CategoryDataService.update(this.currentPlant.id, data)
        .then(response => {
          this.currentPlant.published = status;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateCategory() {
      CategoryDataService.update(this.currentCategory.id, this.currentCategory)
        .then(response => {
          console.log(response.data);
          this.message = 'The category was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteCategory() {
      CategoryDataService.delete(this.currentCategory.id)
      .then(response => {
        console.log(response.data);
        this.$router.push({ name: "categories" });
      })
      .catch((e) => {
        console.log(e);
      });
    },
  },
  mounted() {
    this.message = '';
    this.getCategory(this.$route.params.id);
    this.getArticles();
  }
};
</script>

<style>
.edit-form {
  max-width: 1000px;
  margin: auto;
}
</style>