<template>
  <v-row no-gutters class="list px-3 mx-auto">
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>
          Chatbots List
          <v-spacer></v-spacer>
           <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Base Url*" 
                v-model="chatbot.base_url" 
                required>
              </v-text-field>
            </v-col>
            <v-spacer></v-spacer>
          <v-btn
            class="mr-4"
            @click="saveBaseUrl"
          >
            + Create New
          </v-btn>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="chatbots"
          :hide-default-footer="true"
          disable-pagination
          :loading="loading"
          loading-text="Loading... Please wait"
        >
          <template v-slot:item.index="{ item }">
           {{ chatbots.indexOf(item) + 1}}
          </template>

        </v-data-table>
      </v-card>
    </v-col>
    
  </v-row>
</template>

<script>
import ChatbotDataService from "../services/ChatbotDataService";

export default {
  name: "types-list",
  data() {
    return {
      chatbots: [],
      loading: true,
      chatbot: {
        id: null,
        base_url: ""
      },

      totalItems: 0,
      totalPages: 0,
      currentPage: 1,

      headers: [
        { text: "#", value: "index", sortable: false },
        { text: "Base Url", align: "start", sortable: false, value: "base_url"},
        { text: "Created At", sortable: false, value: "createdAt"},
        { text: "Updated At", sortable: false, value: "updatedAt"},
      ],
    };
  },
  methods: {
    retrieveChatbots() {
      ChatbotDataService.getBaseUrl()
        .then(response => {
          this.chatbots.push(response.data.data)
          // this.types = response.data.data;
          // this.totalItems = response.data.total;
          // this.totalPages = Math.ceil(this.totalItems / 10);
          this.loading = false;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    saveBaseUrl() {
      ChatbotDataService.createBaseUrl(this.chatbot)
        .then(response => {
          this.chatbot.id = response.data.id;
          console.log(response.data);
          // this.submitted = true;
          this.chatbots.pop()
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveChatbots();
    },

    editType(id) {
      this.$router.push({ name: "types-details", params: { id: id } });
    },

    deleteType(id) {
      ChatbotDataService.delete(id)
      .then(() => {
        this.refreshList();
      })
      .catch((e) => {
        console.log(e);
      });
    },

    handlePageChange(value) {
      this.currentPage = value;
    }
  },
  mounted() {
    this.retrieveChatbots();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}
</style>