<template>
  <v-row no-gutters class="list px-3 mx-auto">
    <!-- <v-row>
      <v-col cols="12" md="10">
        <v-text-field v-model="title" label="Search by Title"></v-text-field>
      </v-col>

      <v-col cols="12" md="2">
        <v-btn large @click="searchTitle">
          Search
        </v-btn>
      </v-col>
    </v-row> -->
    
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>
          Plants List
          <v-spacer></v-spacer>
          <v-btn
            class="mr-4"
            to="/plants/add"
          >
            + Create New
          </v-btn>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="plants"
          :hide-default-footer="true"
          disable-pagination
          :loading="loading"
          loading-text="Loading... Please wait"
        >
          <template v-slot:item.index="{ item }">
           {{ plants.indexOf(item) + 1}}
          </template>

          <template v-slot:item.picture="{ item }">
            <div class="p-2">
              <v-img :src="item.picture" :alt="item.plant_name" width="200"></v-img>
            </div>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="editPlant(item.id)">mdi-pencil</v-icon>
            <v-icon small @click="deletePlant(item.id)">mdi-delete</v-icon>
          </template>
        </v-data-table>

        <!-- <v-card-actions v-if="plants.length > 0">
          <v-pagination
            v-model="currentPage"
            :length="totalPages"
            @input="handlePageChange"
          ></v-pagination>
        </v-card-actions> -->
      </v-card>
    </v-col>
    
  </v-row>
</template>

<script>
import PlantDataService from "../services/PlantDataService";

export default {
  name: "plants-list",
  data() {
    return {
      plants: [],
      loading: true,
      plant_name: "",

      totalItems: 0,
      totalPages: 0,
      currentPage: 1,

      headers: [
        { text: "#", value: "index", sortable: false },
        { text: "Plant Name", align: "start", sortable: false, value: "plant_name"},
        { text: "Type", sortable: false, value: "type.name"},
        { text: "Category", sortable: false, value: "category.name"},
        { text: "Picture", sortable: false, value: "picture"},
        { text: "Total Days", sortable: false, value: "total_days"},
        { text: "Actions", value: "actions", sortable: false },
      ],
    };
  },
  methods: {
    retrievePlants() {
      PlantDataService.getAll()
        .then(response => {
          this.plants = response.data.data;
          this.totalItems = response.data.total;
          this.totalPages = Math.ceil(this.totalItems / 10);
          this.loading = false;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrievePlants();
    },

    searchPlantName() {
      // TO DO
    },

    editPlant(id) {
      this.$router.push({ name: "plants-details", params: { id: id } });
    },

    deletePlant(id) {
      PlantDataService.delete(id)
      .then(() => {
        this.refreshList();
      })
      .catch((e) => {
        console.log(e);
      });
    },

    getDisplayTutorial(){
      // TO DO (plants)
    },

    handlePageChange(value) {
      this.currentPage = value;
    }
  },
  mounted() {
    this.retrievePlants();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}
</style>