<template>
  <div v-if="currentPlant" class="edit-form">
    
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Edit Plant</span>
      </v-card-title>
      
      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="4"
            >
              <v-text-field 
                label="Plant Name*" 
                v-model="currentPlant.plant_name" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field 
                label="Total Days*" 
                v-model="currentPlant.total_days" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-file-input
                label="Picture*" 
                v-model="currentPlant.picture"
                @change="handleFileUpload" 
                required>
              </v-file-input>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-textarea
                outlined
                label="Harvesting*" 
                v-model="currentPlant.harvesting" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-textarea
                outlined
                label="Growing*" 
                v-model="currentPlant.growing" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-textarea
                outlined
                label="Summary*" 
                v-model="currentPlant.summary" 
                required>
              </v-textarea>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-select
                :items="categories"
                item-text="name"
                item-value="id"
                label="Category*"
                v-model="currentPlant.category_id" 
                required>
              </v-select>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-select
                :items="types"
                item-text="name"
                item-value="id"
                label="Type*"
                v-model="currentPlant.type_id" 
                required>
              </v-select>
            </v-col>

            <span class="headline">Statistics Plant</span>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Days Low*" 
                v-model="currentPlant.crop_statistics[0].germ_days_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Days Up*" 
                v-model="currentPlant.crop_statistics[0].germ_days_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Temperature Low*" 
                v-model="currentPlant.crop_statistics[0].germ_temperature_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Germ Temperature Up*" 
                v-model="currentPlant.crop_statistics[0].germ_temperature_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Growth Days Low*" 
                v-model="currentPlant.crop_statistics[0].growth_days_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Growth Days Up*" 
                v-model="currentPlant.crop_statistics[0].growth_days_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Height Low*" 
                v-model="currentPlant.crop_statistics[0].height_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Height Up*" 
                v-model="currentPlant.crop_statistics[0].height_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="pH Low*" 
                v-model="currentPlant.crop_statistics[0].ph_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="pH Up*" 
                v-model="currentPlant.crop_statistics[0].ph_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Spacing Low*" 
                v-model="currentPlant.crop_statistics[0].spacing_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Spacing Up*" 
                v-model="currentPlant.crop_statistics[0].spacing_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Temperature Low*" 
                v-model="currentPlant.crop_statistics[0].temperature_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Temperature Up*" 
                v-model="currentPlant.crop_statistics[0].temperature_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Width Low*" 
                v-model="currentPlant.crop_statistics[0].width_low" 
                type="number" 
                required>
              </v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field 
                label="Width Up*" 
                v-model="currentPlant.crop_statistics[0].width_up" 
                type="number" 
                required>
              </v-text-field>
            </v-col>
            
            <span class="headline">Default Checklist</span>

            <div
             v-for="(check, i) in checklists"
             :key="i"
             class="text-fields-row"
            >
              <v-text-field
               label="Title*"
               v-model="check.title"
              ></v-text-field>

              <v-text-field
               label="Description*"
               v-model="check.description"
              ></v-text-field>

              <v-text-field
               label="Time (ex: 05:00:00)"
               v-model="check.time"
              ></v-text-field>

              <v-btn @click="remove(i)" class="error">delete</v-btn>
            </div>

            <v-btn 
              @click="addChecklist" 
              color="primary"
              class="mr-3"
            >add</v-btn>

          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
        <v-btn color="error" medium class="mr-2" @click="deleteTutorial">
          Delete
        </v-btn>
    
        <v-btn color="success" medium @click="updatePlant">
          Update
        </v-btn>
      </v-card-actions>

    </v-form>

    <p class="mt-3">{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Loading ...</p>
  </div>
</template>

<script>
import PlantDataService from "../services/PlantDataService";
import qs from "qs";

export default {
  name: "plant",
  data() {
    return {
      checklists: [],
      categories: '',
      types: '',
      currentPlant: null,
      message: ''
    };
  },
  methods: {
    
    addChecklist () {
      this.checklists.push({ 
        title: "",
        description: "",
        time: "",
      })
    },
    
    remove (index) {
      this.checklists.splice(index, 1)
    },

    // Get Category
    getCategories() {
        PlantDataService.getCategories()
        .then(response => {
            this.categories = response.data.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    
    // Get Category
    getTypes() {
        PlantDataService.getTypes()
        .then(response => {
            this.types = response.data.data;
        })
        .catch(err => {
          console.log(err);
        });
    },

    getPlant(id) {
      PlantDataService.get(id)
        .then(response => {
          this.currentPlant = response.data.data;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updatePublished(status) {
      var data = {
        id: this.currentPlant.id,
        title: this.currentPlant.title,
        description: this.currentPlant.description,
        published: status
      };

      PlantDataService.update(this.currentPlant.id, data)
        .then(response => {
          this.currentPlant.published = status;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updatePlant() {
      let formData = new FormData();
      formData.append('plant_name', this.currentPlant.plant_name);
      formData.append('type_id', this.currentPlant.type_id);
      formData.append('category_id', this.currentPlant.category_id);
      formData.append('summary', this.currentPlant.summary);
      formData.append('growing', this.currentPlant.growing);
      formData.append('harvesting', this.currentPlant.harvesting);
      formData.append('picture', this.currentPlant.picture);
      formData.append('total_days', this.currentPlant.total_days);

      formData.append('germ_days_low', this.currentPlant.crop_statistics[0].germ_days_low);
      formData.append('germ_temperature_low', this.currentPlant.crop_statistics[0].germ_temperature_low);
      formData.append('growth_days_low', this.currentPlant.crop_statistics[0].growth_days_low);
      formData.append('height_low', this.currentPlant.crop_statistics[0].height_low);
      formData.append('ph_low', this.currentPlant.crop_statistics[0].ph_low);
      formData.append('spacing_low', this.currentPlant.crop_statistics[0].spacing_low);
      formData.append('temperature_low', this.currentPlant.crop_statistics[0].temperature_low);
      formData.append('width_low', this.currentPlant.crop_statistics[0].width_low);
      
      formData.append('germ_days_up', this.currentPlant.crop_statistics[0].germ_days_up);
      formData.append('germ_temperature_up', this.currentPlant.crop_statistics[0].germ_temperature_up);
      formData.append('growth_days_up', this.currentPlant.crop_statistics[0].growth_days_up);
      formData.append('height_up', this.currentPlant.crop_statistics[0].height_up);
      formData.append('ph_up', this.currentPlant.crop_statistics[0].ph_up);
      formData.append('spacing_up', this.currentPlant.crop_statistics[0].spacing_up);
      formData.append('temperature_up', this.currentPlant.crop_statistics[0].temperature_up);
      formData.append('width_up', this.currentPlant.crop_statistics[0].width_up);

      formData.append('checklists', qs.stringify(this.checklists));

      PlantDataService.update(this.currentPlant.id, formData)
        .then(response => {
          console.log(response.data);
          this.message = 'The plant was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteTutorial() {
      PlantDataService.delete(this.currentPlant.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "tutorials" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getPlant(this.$route.params.id);
    this.getCategories();
    this.getTypes();
  }
};
</script>

<style>
.text-fields-row {
  display: flex;
}
.edit-form {
  max-width: 1000px;
  margin: auto;
}
</style>