<template>
  <div v-if="currentType" class="edit-form">
    
    <v-form>
      <v-card-title class="justify-center">
        <span class="headline">Edit Type</span>
      </v-card-title>
      
      <v-card-text>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              md="12"
            >
              <v-text-field 
                label="Name*" 
                v-model="currentType.name" 
                required>
              </v-text-field>
            </v-col>
            
          </v-row>
        </v-container>
      </v-card-text>
        
      <v-card-actions class="justify-center">
        <v-btn color="error" medium class="mr-2" @click="deleteType">
          Delete
        </v-btn>
    
        <v-btn color="success" medium @click="updateType">
          Update
        </v-btn>
      </v-card-actions>

    </v-form>

    <p class="mt-3">{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Loading ...</p>
  </div>
</template>

<script>
import TypeDataService from "../services/TypeDataService";

export default {
  name: "type",
  data() {
    return {
      currentType: null,
      message: ''
    };
  },
  methods: {

    getType(id) {
      TypeDataService.get(id)
        .then(response => {
          this.currentType  = response.data.data;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updatePublished(status) {
      var data = {
        id: this.currentPlant.id,
        title: this.currentPlant.title,
        description: this.currentPlant.description,
        published: status
      };

      TypeDataService.update(this.currentPlant.id, data)
        .then(response => {
          this.currentPlant.published = status;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateType() {
      TypeDataService.update(this.currentType.id, this.currentType)
        .then(response => {
          console.log(response.data);
          this.message = 'The type was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteType() {
      TypeDataService.delete(this.currentType.id)
      .then(response => {
        console.log(response.data);
        this.$router.push({ name: "types" });
      })
      .catch((e) => {
        console.log(e);
      });
    },
  },
  mounted() {
    this.message = '';
    this.getType(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 1000px;
  margin: auto;
}
</style>