<template>
  <v-row no-gutters class="list px-3 mx-auto">
    <!-- <v-row>
      <v-col cols="12" md="10">
        <v-text-field v-model="title" label="Search by Title"></v-text-field>
      </v-col>

      <v-col cols="12" md="2">
        <v-btn large @click="searchTitle">
          Search
        </v-btn>
      </v-col>
    </v-row> -->
    
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>
          Types List
          <v-spacer></v-spacer>
          <v-btn
            class="mr-4"
            to="/types/add"
          >
            + Create New
          </v-btn>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="types"
          :hide-default-footer="true"
          disable-pagination
          :loading="loading"
          loading-text="Loading... Please wait"
        >
          <template v-slot:item.index="{ item }">
           {{ types.indexOf(item) + 1}}
          </template>

          <template v-slot:item.picture="{ item }">
            <div class="p-2">
              <v-img :src="item.picture" :alt="item.title" width="200"></v-img>
            </div>
          </template>

          <template v-slot:item.source="{ item }">
              <a :href="item.source" target="_blank">
                {{ item.source }}
              </a>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="editType(item.id)">mdi-pencil</v-icon>
            <v-icon small @click="deleteType(item.id)">mdi-delete</v-icon>
          </template>
        </v-data-table>

        <!-- <v-card-actions v-if="plants.length > 0">
          <v-pagination
            v-model="currentPage"
            :length="totalPages"
            @input="handlePageChange"
          ></v-pagination>
        </v-card-actions> -->
      </v-card>
    </v-col>
    
  </v-row>
</template>

<script>
import TypeDataService from "../services/TypeDataService";

export default {
  name: "types-list",
  data() {
    return {
      types: [],
      loading: true,
      title: "",

      totalItems: 0,
      totalPages: 0,
      currentPage: 1,

      headers: [
        { text: "#", value: "index", sortable: false },
        { text: "Name", align: "start", sortable: false, value: "name"},
        { text: "Created At", sortable: false, value: "createdAt"},
        { text: "Updated At", sortable: false, value: "updatedAt"},
        { text: "Actions", value: "actions", sortable: false },
      ],
    };
  },
  methods: {
    retrieveTypes() {
      TypeDataService.getAll()
        .then(response => {
          this.types = response.data.data;
          this.totalItems = response.data.total;
          this.totalPages = Math.ceil(this.totalItems / 10);
          this.loading = false;
          console.log(response.data.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveTypes();
    },

    // searchPlantName() {
    //   // TO DO
    // },

    editType(id) {
      this.$router.push({ name: "types-details", params: { id: id } });
    },

    deleteType(id) {
      TypeDataService.delete(id)
      .then(() => {
        this.refreshList();
      })
      .catch((e) => {
        console.log(e);
      });
    },

    // getDisplayTutorial(){
    //   // TO DO (plants)
    // },

    handlePageChange(value) {
      this.currentPage = value;
    }
  },
  mounted() {
    this.retrieveTypes();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}
</style>