<template>
  <v-app>
    <v-navigation-drawer permanent expand-on-hover app>
      <v-list-item to="/" link>
        <v-list-item-content>
          <v-list-item-title class="title">
            Admin
          </v-list-item-title>
          <v-list-item-subtitle>
            admin@ferma.com
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.link"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    
    <v-app-bar app>
      <!-- -->
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      items: [
        { title: 'Plants', icon: 'mdi-flower-tulip', link:'/plants' },
        // { title: 'Admins', icon: 'mdi-head-minus', link:'' },
        { title: 'Articles', icon: 'mdi-book-open-page-variant', link:'/articles' },
        { title: 'Categories', icon: 'mdi-shape', link:'/categories' },
        { title: 'Types', icon: 'mdi-format-list-bulleted-type', link:'/types' },
        { title: 'Chatbots', icon: 'mdi-chat', link:'/chatbots' },
      ],
      right: null,
    }
  },
}
</script>
